<%= render 'shared/top_buttons'%>

<div class="row">

  <div class="col-md-6">
    <br>
    <%= render 'form'%>

  </div>
  <div class="col-md-6">
    <br>
    <!-- Generate form for picture attachment. Passing '@project' variable to the form -->
    <%= render 'pictures/form', post: @project%>

    <hr>
    <div class="show_pictures">
      <%= render @pictures%>
    </div>


  </div>

</div>
