

<!-- display tag filters using a shared partial that can be used for all type of posts -->
<%= render 'technologies/technology_tag_filter'%>


<br>
<div class="row">
  <%= render @projects%>
</div>
