// Place all the styles related to the ContactForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden { display: none; }


.panel-title a:hover {text-decoration: none;}
.panel-title a:link {text-decoration: none;}

#accordion .panel-body {text-align: justify;}
