// Place all the styles related to the ContactForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact_forms {

  .panel-title {
    a:hover {text-decoration: none;}
    a:link {text-decoration: none;}
  }
  #accordion .panel-body {text-align: justify;}
}
